{% extends 'base.html' %}

{% block title %}
Update article
{% endblock %}

{% block body %}
     <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
              <h1 class="display-4 fw-normal">Update Article</h1>
              <form method="post">
                  <input type="text" name="title" id="title" class="container form-control" value="{{ article.title }}" placeholder="Enter title"><br>
                  <textarea name="intro" id="intro" class="container form-control" placeholder="Enter announce">{{ article.intro }}</textarea><br>
                  <textarea name="text" id="text" class="container form-control" placeholder="Enter text">{{ article.text }}</textarea><br>
                  <input type="submit" class="btn btn-success" value="Update">
              </form>
        </div>
     </div>
{% endblock %}