{% extends 'base.html' %}

{% block title %}
All articles
{% endblock %}

{% block body %}
     <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">All articles</h1>
            {% if articles|length > 0 %}
                {% for el in articles %}
                <div class="alert alert-info">
                    <h2>{{ el.title }}</h2>
                    <p>{{ el.intro }}</p>
                    <p><b>Date: {{ el.date.date() }}</b></p>
                    <a href="/posts/{{ el.id }}" class="btn btn-warning">More</a>
                </div>
                {% endfor %}
            {% else %}
            <p>There aren't articles on website yet</p>
            {% endif %}
        </div>
     </div>
{% endblock %}